@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

header {
  background-color: #ffdc7b;
}

.logo {
  width: 286px;
}
.logo img {
  width: 100%;
  vertical-align: bottom;
}

@media (min-width: 768px) {
  .logo {
    width: 350px;
    margin-right: 65px;
  }
}
@media (min-width: 1440px) {
  .logo {
    width: 548px;
    margin-right: 102px;
  }
}
.header_text {
  display: flex;
  color: #854b05;
  font-weight: 700;
  line-height: 35px;
  font-size: 28px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .header_text {
    width: 285px;
    font-size: 40px;
    line-height: 50px;
    flex-direction: column;
  }
  .header_text :nth-child(2) {
    text-align: right;
  }
}
.wrap_header {
  width: 358px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 62px;
}

@media (min-width: 768px) {
  .wrap_header {
    width: 750px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .wrap_header {
    width: 1096px;
  }
}
body {
  max-width: 1440px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

main {
  position: relative;
}

input[type=search] {
  width: 358px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid black;
  bottom: 1px;
  background: url("../image/放大鏡.svg") no-repeat white;
  background-position: 3% 50%;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px 50px;
}
input[type=search]:focus {
  outline: none;
  background-image: none;
}

@media (min-width: 768px) {
  input[type=search] {
    width: 508px;
  }
}
.swiper-wrapper img {
  width: 100%;
}

.swiper-slide .swiper-slide-active {
  width: 300px;
}

main .swiper-pagination {
  position: static;
}

:root {
  --swiper-theme-color: black;
}

.swiper-pagination-bullet {
  display: none;
}

.wrap_img img {
  object-fit: cover;
}

@media (min-width: 576px) {
  .card {
    flex: 1 1 48%;
  }
}
@media (min-width: 1440px) {
  .card {
    flex: 1 1 33%;
  }
}
.tourist_content {
  gap: 16px;
}
.tourist_content a {
  display: inline-block;
  margin-right: 8px;
}

.card {
  box-shadow: 1px 1px 10px #cccccc;
  border-radius: 15px;
  position: relative;
}

.card > p {
  margin-bottom: 0;
}

.address,
.phone {
  display: flex;
}
.address a,
.phone a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone > p {
  margin-right: 8px;
}

.card_content {
  padding: 8px 8px 12px 8px;
}
.card_content div {
  margin-bottom: 8px;
}

.card_content > p {
  margin: 0;
}

.tag {
  display: flex;
  position: absolute;
  right: 0;
  top: 10px;
  justify-content: right;
}

.tag p {
  background-color: #ffe8a8;
  padding: 4px;
  border-radius: 3px;
  color: #854b05;
  margin-right: 10px;
  font-weight: 700;
}

main {
  padding: 50px 0;
}

.wrap_content {
  margin: 0 16px;
}
.wrap_content:nth-child(2) {
  margin-bottom: 44px;
}

section h3 {
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .wrap_content {
    margin: 0 68px;
  }
}
@media (min-width: 1440px) {
  .wrap_content {
    margin: 0 167px;
  }
}
.tourist_content {
  display: flex;
  flex-wrap: wrap;
}
.tourist_content img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 8px 0px 21px 0px;
  background-color: #ffdc7b;
  color: #854b05;
}

/*# sourceMappingURL=style.css.map */
