$primary_light: #ffdc7b;
$primary_Tint: #fff1ca;
$primary_Default: #f8aa4b;
$primary_dark: #c17b19;
$Primary_A11y: #854b05;

$black_900: #2d2d2d;
$black_800: #4b4b4b;
$black_700: #6f6f6f;
$black_600: #909090;
$black_500: #cccccc;
$black_400: #ececec;
$black_300: #f2f2f2;
$black_200: #f6f6f6;
$black_100: #f9f9f9;

$tag_color: #ffe8a8;
