// .swiper-slide img {
//     width: 100%;
// }
.swiper-wrapper {
    img {
        width: 100%;
    }
}

.swiper-slide .swiper-slide-active {
    width: 300px;
}

main .swiper-pagination {
    position: static;
}
:root {
    --swiper-theme-color: black;
}

.swiper-pagination-bullet {
    display: none;
}
