@use '../base/color.scss';
@use '../base/reset.scss';
@use '../component/logo.scss';

header {
    background-color: color.$primary_light;
}
.logo {
    width: 286px;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 350px;
        margin-right: 65px;
    }
}
@media (min-width: 1440px) {
    .logo {
        width: 548px;
        margin-right: 102px;
    }
}

.header_text {
    display: flex;
    color: color.$Primary_A11y;
    font-weight: 700;
    line-height: 35px;
    font-size: 28px;
    margin-top: 8px;
}
@media (min-width: 768px) {
    .header_text {
        width: 285px;
        font-size: 40px;
        line-height: 50px;
        flex-direction: column;
        :nth-child(2) {
            text-align: right;
        }
    }
}

.wrap_header {
    width: 358px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 62px;
}
@media (min-width: 768px) {
    .wrap_header {
        width: 750px;
        flex-direction: row;
    }
}
@media (min-width: 1440px) {
    .wrap_header {
        width: 1096px;
    }
}
